################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mashlan.DynamicJson/.vs/Mashlan.DynamicJson/v15/Server/sqlite3
